.sized-table {
    margin: auto;
    width: auto;
    height: auto;
}

.cell {
    text-align: center;
}

.closed-cell { background: #E0FFFF; }

.cell0 { background: white; }
.cell1 { background: #ffff66; }
.cell2 { background: #ffd800;}
.cell3 { background: #ffba00;}
.cell4 { background: #ffa000; }
.cell5 { background: #ff6a00;}
.cell6 { background: #FF4500; }
.cell7 { background: #DC143C; }
.cell8 { background: red; }
.cellB { background: red; }

.flagged { background: #a7fc00; }

.died-pic {
    width: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -300px;
}

.icon {
    width: 90%;
    height: 90%;
}


.counterFlag {
    position: relative;
    left: 40%;
}

.iconFlag {
    width: 50px;
    height: 50px;

}

.counterFlag  p{
    font-size: 25px;
    margin: 0 0 0 70px;
    float: left;
}

.form-block {
    min-width: 350px;
    margin: auto;
}

input.validation { border: 1px solid #FF4500; }
p.validation { color: #FF4500; }
